.order-tab{
    width:300px;
    height:200px;
    border:1px solid #000 ;

}
/* .border-col{
    border-right:2px  solid rgb(8, 56, 2) ;
} */
.header-dw{
    width:290px;
    background-color: rgb(60, 144, 212);
    text-align: center;
}
button.close {
 
    position: absolute;
  
    left: 278px;
}