<div class="order-tab" id="daataTab" style="display: none;">
    <button type="button" class="close" aria-label="Close" (click)="closewindow()">
        <span aria-hidden="true">&times;</span>
      </button>
    <div class="row">
        <div class="header-dw">Data Window</div>
</div>

