<div class="chartone-tab" id="chartclose" style="display: none;" (click)="closewindow()">
    <button type="button" class="close" aria-label="Close" >
        <span aria-hidden="true">&times;</span>
      </button>
    <div class="row">
        <div class="header-dw">Chart One</div>
        <div class="chart-body">

        </div>
</div>
