.chartone-tab{
    width:700px;
    height:350px;
    left: 100px;
    border:1px solid #000 ;
    background-color: black;

}
/* .border-col{
    border-right:2px  solid rgb(8, 56, 2) ;
} */
.header-dw{
    /* width:712px; */
    width: 699px;
    position: absolute;
    left: 2px;
    background-color: rgb(60, 144, 212);
    text-align: center;
}
button.close {
 
    position: absolute;
  
    left:678px;
}
.chart-body{
    background-color: #000;
}
