<button class="close modal_close" type="button" mat-button (click)="onNoClick()">
  <mat-icon>close</mat-icon>
</button>
<div mat-dialog-content>
  <p> Get Access to the trade account</p>
  <div class="row">
    <div>
      <form name="login_form">
        <mat-form-field color="primary" class="form-control">
          <input matInput placeholder="Your email"  required maxlength="40" id="EmailId" #email [(ngModel)]="Email" name="email"  pattern="[a-z]+[a-z0-9._]+@[a-z]+\.[a-z.]{2,5}">
          <i matSuffix class="icon-envelope-o"></i>
          <mat-error *ngIf="Email.errors && Email.errors.required">
              This is a required field
          </mat-error>
          <mat-error *ngIf="Email.errors && Email.errors.pattern">
              Enter a valid email address
          </mat-error>
         
  </mat-form-field>

  <mat-form-field color="primary" class="form-control">
    <input matInput type="password" placeholder="Password" required maxlength="40" [(ngModel)]="Pass"   id="PassWord" name="Password" #Password  >
    <!-- <i matSuffix class="icon-padlock"></i> -->
    <mat-error *ngIf="Password.errors && Password.errors.required">
        This is a required field
    </mat-error>
    <mat-error *ngIf="Password.errors && Password.errors.maxlength">
        Password should beless then 40 characters
    </mat-error>
</mat-form-field>

        <button type="submit" class="btn btn-primary btn-block login_btn">
          Log In
        </button>
        <button type="submit" class="btn btn-primary btn-block login_btn" (click)="onNoClick()">
          Cancel
        </button>
        <!-- <button type="submit" class="btn btn-primary btn-block otp_btn">Submit</button> -->
      </form>



    </div>

  </div>
</div>
<div mat-dialog-actions>
  <!-- <button type="button" class="close" aria-label="Close" (click)="onNoClick()">
    <span aria-hidden="true">&times;</span>
  </button> -->
</div>