.example-icon {
    padding: 0 14px;
  }
  
  .example-spacer {
    flex: 1 1 auto;
  }
  .btn-position{
    position: absolute;
   
    right: 1px;  
  }
  .input-ln{
    width: 300px;
  }
 

button.close-login {
  position: absolute;
  /* right: 4px; */
  /* margin-right: -23px; */
  left: 899px;
  top: 54px;
}