<mat-toolbar color="primary">
    <!-- <mat-toolbar-row>
      <span>Custom Toolbar</span>
    </mat-toolbar-row>
   -->
    <mat-toolbar-row>
      <span>company Name & Logo</span>
      <span class="example-spacer"></span>
      <mat-icon class="example-icon" aria-hidden="false" aria-label="Example user verified icon">verified_user</mat-icon>
    </mat-toolbar-row>
  
    <!-- <mat-toolbar-row>
      <span>Third Line</span>
      <span class="example-spacer"></span>
      <mat-icon class="example-icon" aria-hidden="false" aria-label="Example heart icon">favorite</mat-icon>
      <mat-icon class="example-icon" aria-hidden="false" aria-label="Example delete icon">delete</mat-icon>
    </mat-toolbar-row> -->
  </mat-toolbar>
  <button mat-button [matMenuTriggerFor]="menu">File</button>
<mat-menu #menu="matMenu">
  <button mat-menu-item (click)="openDialog()">login</button>
  <button mat-menu-item>Registration</button>
  <!-- <button mat-menu-item routerLink="/registration">Registration</button> -->
</mat-menu>
<button mat-button [matMenuTriggerFor]="menu1">View</button>
<mat-menu #menu1="matMenu">
  <button mat-menu-item (click)="_OrderbookComponent.opendatawindow()" >Data Window</button>
  <button mat-menu-item (click)="_MarketwatchComponent.openmarketwatch()">Watch List</button>
  <button mat-menu-item (click)="_ChartoneComponent.openchartone()">Chart One</button>
</mat-menu>

 
 