<app-navbar></app-navbar>
<app-orderbook></app-orderbook>
<app-marketwatch></app-marketwatch>
<div class="row">
    <div class="right-tab">
        <app-chartone></app-chartone>
    </div>
   
</div>
