.marketwatch-tab{
    width:300px;
    height:500px;
    border:1px solid #000 ;
    bottom: 100px;

}
.header-dw{
    width:290px;
    background-color: rgb(60, 144, 212);
    text-align: center;
}
button.close {
 
    position: absolute;
  
    left: 278px;
}