<div class="marketwatch-tab" id="marketwatch" style="display:none;">
    <button type="button" class="close" aria-label="Close" (click)="closewindow()" >
        <span aria-hidden="true">&times;</span>
      </button>
    <div class="row">
        <div class="header-dw">Market Watch</div>
</div>

