/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
/* .btn-info:not(:disabled):not(.disabled).active, .show > .btn-info.dropdown-toggle {
    background-color: #213636;
    border-color: #324b4b;
 } */
 .btn{padding: .275rem .75rem;color:white;}
  .btn-green{background:#00b75a !important;}
  .btn-red{background:#cc2d3d !important;}
  .btn-green.focus,.btn-green:focus,.btn-green.active,.btn-green:active,.btn-green:hover{outline:0;-webkit-box-shadow:0 0 0 .2rem rgba(34, 37, 41, 0.25);box-shadow:0 0 0 .2rem rgba(34, 37, 41, 0.25);background:#008a44;}
  .btn-red.focus,.btn-red:focus,.btn-red.active,.btn-red:active,.btn-red:hover{outline:0;-webkit-box-shadow:0 0 0 .2rem rgba(0,123,255,.25);box-shadow:0 0 0 .2rem rgba(0,123,255,.25);background:#b51020;}
  .btn-dark:not(:disabled):not(.disabled).active, .btn-dark:not(:disabled):not(.disabled):active, .show>.btn-dark.dropdown-toggle{
      color: #fff;
      background: #213636;
        border-color: #294141;
  }
  .btn-dark {
      color: #fff;
      background: #213636;
        border-color: #294141;
  }
  .login_btn
 {
    color: #fff;
    padding: .275rem .75rem!important;
    background-color: #4741b5;
    border-radius: 1.25rem!important;
   padding: .275rem .75rem !important;
 }
 .login_btn:hover
 {
   color:#fff;
 }
 
 .modal_close{position: absolute;right: 0px;cursor: pointer; opacity: 1; min-width: 0; height: auto;}
 .modal_close span{color: rgb(199, 31, 31);}
 .modal_close span i{font-size: 21px;right: -30px;top: -0px;}
 
 /*  */
 